/* This file is for your main application css. */
@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";
@import "tailwindcss/base";
@tailwind base;

@tailwind components;

@tailwind utilities;

/* LiveView specific classes for your customizations */
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}

.H1 {
  height: 47.5px;
}
.W1 {
  width: 47.5px;
}
.H2 {
  height: 95px;
}
.W2 {
  width: 95px;
}
.H3 {
  height: 142.5px;
}
.H4 {
  height: 190px;
}

#helmet {
  height: 21%;
  width: 15%;
  top: 4%;
  left: 42.4%;
}

#chest {
  width: 15%;
  height: 31%;
  top: 29%;
  left: 42.4%;
}

#belt {
  width: 15%;
  height: 10%;
  top: 63%;
  left: 42.4%;
}

#amulet {
  width: 7.5%;
  height: 10%;
  top: 25.5%;
  left: 61.5%;
}

#weapon_left {
  width: 15%;
  height: 42%;
  top: 7.3%;
  left: 11.2%;
}

#weapon_right {
  width: 15%;
  height: 42%;
  top: 7.3%;
  right: 11.5%;
}

#ring_left {
  width: 7.5%;
  height: 10%;
  top: 38.9%;
  right: 30.8%;
}

#ring_right {
  width: 7.5%;
  height: 10%;
  top: 38.9%;
  left: 30.5%;
}

#gloves {
  height: 21%;
  width: 15%;
  bottom: 27%;
  left: 23%;
}

#boots {
  height: 21%;
  width: 15%;
  bottom: 27%;
  right: 23.5%;
}

#flask1 {
  width: 7.7%;
  height: 20%;
  bottom: 3.2%;
  left: 30.8%;
}
#flask2 {
  width: 7.7%;
  height: 20%;
  bottom: 3.2%;
  left: 38.6%;
}
#flask3 {
  width: 7.7%;
  height: 20%;
  bottom: 3.2%;
  left: 46.1%;
}
#flask4 {
  width: 7.7%;
  height: 20%;
  bottom: 3.2%;
  left: 53.9%;
}
#flask5 {
  width: 7.7%;
  height: 20%;
  bottom: 3.2%;
  left: 61.9%;
}

.item-container {
  cursor: pointer;
}

.item-container:hover {
  background-color: rgba(0, 0, 255, 0.3);
}

html{
    width:100%;
    height:100%;
}
body{
    width:100%;
    height:100%;
    background-color:#DDD;
}
