<div class=flex-1" style="max-width: 780px;">
  <div class="flex-2 relative bg-cover bg-no-repeat" style="background-image: url('<%= Routes.static_path(@socket, "/images/main_inventory.png") %>')" alt="Phoenix Framework Logo">
    <img class="opacity-0" src="<%= Routes.static_path(@socket, "/images/main_inventory.png") %>" alt="Phoenix Framework Logo"/>
  </div>
</div>

<%= live_component(@socket, PoeBuildCost.LiveComponent.ItemComponent, id: :helmet) %>
